h1,h2,p{
    margin: 0;
    padding: 0;
}

.header-container{
   display: flex;
   justify-content: center;
    background-color: red;
}

.body-container{
    background-color: blue;
}

.main-container {
    display: flex;
    justify-content: space-evenly ;

}

.top-container {
    width: 48%;
    margin-bottom: 1rem;
}

.bottom-container {
    width: 48%;
}

.elements-container{
    background-color: green;
    margin-top:20px;

    img {
        width: 100%;
    }
}

